#wrapper-top-bar {
    padding: $spacer * .5 0;
    font-size: $font-size-sm;
    border-bottom: 1px solid $border-color;

	p {
		margin-bottom: 0;
	}
}


#main-nav {
    transition: $transition-base;

    &.navbar-light {

        .logo-light {
            display: none;
        }
    }

    &.navbar-dark {

        .logo-dark {
            display: none;
        }

        &.transparent {
            background-color: transparent;
        }
    }

    @include media-breakpoint-down(md) {


        .dropdown-menu {
            background-color: transparent;
            border: 0;
            color: $navbar-light-color;
            padding-left: $spacer * 1.5;
        }

        .nav-link,
        .dropdown-item {
            border-bottom: 1px solid;
            padding-left: 0;

            &:hover {
                background-color: transparent;
                text-decoration: underline;
            }
        }

        .nav-link {
            font-size: $font-size-base * 1.125;
            font-weight: $font-weight-bold;
        }

        .dropdown-item:hover {
            color: inherit;
        }
        
        &.navbar-dark {

            .dropdown-item {
                color: $navbar-dark-color;

                &:hover {
                    // background-color: $dark;
                }
            }
        }
    }

}

body.navbar-transparent:not(.scrolled):not(.menu-open) {
    
    #main-nav {
        background-color: transparent !important;
    }
}

body.scrolled #main-nav {
    padding: .25rem $navbar-padding-x;
    border-bottom: 1px solid $cyan;
}

.menu-item {
    position: relative;
    
    .menu-item-link-icon {
        position: absolute;
        left: -2.5rem;

        img,
        figure,
        source {
            height: 1.4em;
            width: auto;
        }
    }

}


.logo-cornered {
    position: relative;
    padding: 0;

    &:before,
    &:after {
        content: "";
        width: 16px;
        height: 16px;
        border: 4px solid $secondary;
        position: absolute;
        transition: $transition-base;
    }

    &:before {
        left: 0;
        bottom: 0;
        border-top-width: 0 !important;
        border-right-width: 0 !important;

        animation: logo-corner-left .8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    &:after {
        right: 0;
        top: 0;
        border-bottom-width: 0 !important;
        border-left-width: 0 !important;

        animation: logo-corner-right .8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

}

.navbar-brand img {
    transition: $transition-base;
}

.scrolled .navbar-brand {

    img {
        width: 120px;
    }

    .logo-cornered {

        &:before,
        &:after {
            opacity: 0;
            width: 8px;
            height: 8px;
            border-width: 1px;
        }
    }

}

.navbar-brand:hover {

    .logo-cornered {

        &:before {
            left: -8px;
        }

        &:after {
            right: -8px;
        }
    }
}

@keyframes logo-corner-left {

    0% {
        transform: translateX(40px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes logo-corner-right {

    0% {
        transform: translateX(-40px);
        opacity: 0;
    }

    50% {
        transform: translateX(-40px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}